.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.fire{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    padding: 5px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: rgb(253, 62, 100);
    color: white;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 2px 4px rgba(70, 67, 67, 0.4);
}
.ships{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    padding: 5px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: rgb(89, 120, 255);
    color: white;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 2px 4px rgba(70, 67, 67, 0.4);
}

.fire:hover, .fire:active{
    background-color: rgb(253, 5, 5);
    transform: translateY(2px);

}
.ships:hover, .ships:active{
    background-color: rgb(8, 53, 252);
    transform: translateY(2px);
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-size:x-large;
}
.container{
    display: grid;
    grid-template-columns: repeat(20, 33px);
    grid-template-rows: repeat(12, 33px);
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}
.col-container-1{
    display: flex;
    position: relative;
    grid-column: 6/17;
    margin-left: 1px;
}
.row-container-1{
    display: flex;
    flex-direction: column;
    position: relative;
    grid-row: 2/13;
    grid-column: 5;
}
.cell-container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 360px;
    grid-column: 6/17;
    grid-row: 2/13;
}
.col-container-2{
    display: flex;
    position: relative;
    grid-column: 22/33;
    margin-left: 1px;
}
.row-container-2{
    display: flex;
    flex-direction: column;
    position: relative;
    grid-row: 2/13;
    grid-column: 21;
}
.cell-container-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 360px;
    grid-column: 22/33;
    grid-row: 2/13;
}
.rows{
    width: 30px;
    height: 30px;
    border: solid 1px gray;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.columns{
    width: 30px;
    height: 30px;
    border: solid 1px gray;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cell{
    width: 30px;
    height: 30px;
    border: solid 1px gray;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    background-color:rgb(92, 221, 253);
}
.cell:hover{
    cursor: pointer;
}
.with-ship{
    width: 30px;
    height: 30px;
    border: solid 1px gray;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    background-color:rgb(92, 221, 253);
    background: repeating-linear-gradient(
        45deg,
        #606cbcc9,
        #606cbcb7 10px,
        #465298c7 10px,
        #465298c2 20px
        );
}

.empty{
    color: transparent;
    background-color:rgb(92, 221, 253);
}
.partOfaShip{
    color: transparent;
    background-color: red;
}
.sunkenPartOfaShip{
    color: transparent;
    background-color: red;
}
.missedShot{
    color: transparent;
    background-color: gray;
}